*.aux
*.bbl
*.out
*.blg
*.dvi
*.log
*.pdf
*.qqz
*.toc
*.sav
*.bak
*.html
*.txt
*.o
*.tgz
*.bz2
*.swp
*.swo
!coe-out-1.pdf
!coe-out-4.pdf
!store15tred.pdf
!coe.pdf
!fre.pdf
!ipc.pdf
!rfe.pdf
bib
ootavacuous-flat.tex
